<h1><%= @shelter.name %></h1><br>

<p>Rank: <%= @shelter.rank %></p>
<p>City: <%= @shelter.city %></p>

<p class="pet-count">Number of pets: <%= @shelter.pet_count %></p>
<p><%= button_to "Check Out Our Pets!", "/shelters/#{@shelter.id}/pets", method: :get %></p><br>

<p><%= button_to "Delete #{@shelter.name}", "/shelters/#{@shelter.id}", method: :delete, class: "btn btn-danger" %></p>
