<div class="card">
  <h3 class="card-header"><%= @shelter.name %></h3>
  <div class="card-body">
    <h5 class="card-title">Rank: <%= @shelter.rank %></h5>
    <h5 class="card-title">City: <%= @shelter.city %></h5>
    <h5 class="card-text">Number of pets: <%= @shelter.pet_count %></h5><br>

    <%= button_to "Check Out Our Pets!", "/shelters/#{@shelter.id}/pets", method: :get, class: "sm-btn btn-info" %>
    <%= button_to "Delete #{@shelter.name}", "/shelters/#{@shelter.id}", method: :delete, class: "sm-btn btn-danger" %>
  </div>
</div>
