<h2>Application</h2><br>

<p>Name: <%= @application.applicant_name %></p>
<p>Address: <%= @application.applicant_street_address %><p>
<p>City: <%= @application.applicant_city %></p>
<p>State: <%= @application.applicant_state %></p>
<p>Zipcode: <%= @application.applicant_zipcode %></p>

<p>How would you prepare a good home for pets:</p>
<p><%= @application.description %></p>
<p>Names of pets you wish to adopt:</p>
  <% @application.pets.each do |pet| %>
    <p><%= pet.name %></p>
  <% end %>

<p>Status: <%= @application.status %></p><br>

<% if @application.status == "In Progress" %>
  <h5>Add Pets to Adopt:</h5>
  <%= render partial: "search", locals: { path: "/applications/#{@application.id}", method: :get } %>
<% end  %>

<% if params[:search] %>
  <% @pets.each do |pet| %>
  <section id="Pet-<%= pet.id %>">
  <h5>
    <%= render partial: "link", locals: { name: "#{pet.name}", path: "pets/#{pet.id}", method: :get } %>
    <%= button_to "Adopt this Pet", { controller: "pet_applications", action: :create, pet_id: :pet.id } , method: :post %>
  </h5>
    <p><%= pet.age %> years old</p>
    <p><%= pet.breed %></p>
    <p><%= pet.adoptable %></p>
    <p><%= pet.shelter_name %></p>
  </section>
  <% end %>
<% end  %>

<% if @application.pets != [] && @application.status == 'In Progress' %>
  <%= form_with url: "/applications/#{@application.id}", method: :patch, local: true do |f| %>
    <h3><%= f.label :description, 'Why I would make a good owner for the pet(s):' %></h3>
    <p> <%= f.text_field :description %> </p>

    <%= f.hidden_field :applicant_name, value: @application.applicant_name %>
    <%= f.hidden_field :applicant_street_address, value: @application.applicant_street_address  %>
    <%= f.hidden_field :applicant_city, value: @application.applicant_city  %>
    <%= f.hidden_field :applicant_state, value: @application.applicant_state  %>
    <%= f.hidden_field :applicant_zipcode, value: @application.applicant_zipcode  %>
    <%= f.hidden_field :status, value: "Pending" %>

    <%= f.submit "Submit Application" %>
  <% end %>
<% end %>
