<h2>Application</h2><br>

<% if @application.status == "In Progress" %>
  <h5>Add Pet(s) to Adopt:</h5>
  <%= form_with url: "/applications/#{@application.id}?search=name", method: :get, local: true do %>
    <%= text_field_tag(:search, params[:search]) %>
    <%= submit_tag ("Search") %>
  <% end %>
  <% if params[:search] %>
    <% @pets.each do |pet| %>
      <section id="Pet-<%= pet.id %>">
      <h5><%= link_to pet.name, "/pets/#{pet.id}" %></h5>
      <p>Age: <%= pet.age %> years old</p>
      <p>Breed: <%= pet.breed %></p>
      <p>Adoptable: <%= pet.adoptable %></p>
      <p>Find me at <%= pet.shelter_name %>!</p>
      <%= button_to "Adopt this Pet", { controller: :pet_applications, action: :create, pet_id: pet.id}, method: :post, class: "sm-btn btn-info" %>
      </section>
    <% end %>
  <% end %>

<% end %><br>

<p>Name: <%= @application.applicant_name %></p>
<p>Address: <%= @application.applicant_street_address %><p>
<p>City: <%= @application.applicant_city %></p>
<p>State: <%= @application.applicant_state %></p>
<p>Zipcode: <%= @application.applicant_zipcode %></p>

<p>Why I would make a good owner for the pet(s):</p>
    <ul><%= @application.description %></ul>

<p>Names of pets you wish to adopt:</p>
  <% @application.pets.each do |pet| %>
    <ul>
      <li><%= pet.name %></li>
    </ul>
  <% end %>

<p>Status: <%= @application.status %></p><br>

<% if @application.pets.count >= 1 && @application.status == "In Progress" %>
  <%= form_with url: "/applications/#{@application.id}", method: :patch, local: true do |f| %>
    <h3><%= f.label :description, 'Why I would make a good owner for the pet(s):' %></h3>
    <p> <%= f.text_field :description %> </p>

    <%= f.hidden_field :applicant_name, value: @application.applicant_name %>
    <%= f.hidden_field :applicant_street_address, value: @application.applicant_street_address  %>
    <%= f.hidden_field :applicant_city, value: @application.applicant_city  %>
    <%= f.hidden_field :applicant_state, value: @application.applicant_state  %>
    <%= f.hidden_field :applicant_zipcode, value: @application.applicant_zipcode  %>
    <%= f.hidden_field :status, value: "Pending" %>

    <%= f.submit "Submit Application" %>
  <% end %>
<% end %>
