<h1>All Pets</h1><br>

<h4><%= link_to "Start an Application", "/applications/new", method: :get %></h4><br>

<%= render partial: "search", locals: { path: "/pets", method: :get } %><br>

<% @pets.each do |pet| %>
  <h3><%= pet.name %></h3>
  <p>
    Age: <%= pet.age %><br>
    Breed: <%= pet.breed %><br>
    Adoptable: <%= pet.adoptable %><br>
    You can find <%= pet.name %> at <%= link_to pet.shelter_name, "/shelters/#{pet.shelter.id}" %>!
  </p>

  <%= button_to "Edit", "/pets/#{pet.id}", method: :patch, class: "sm-btn btn-secondary" %>
  <%= button_to "Delete", "/pets/#{pet.id}", method: :delete, data: { confirm: "Are you sure you want to delete this?" }, class: "sm-btn btn-danger" %>
  <p></p>
<% end %><br>
